/*

$color1: rgba(216, 226, 220, 1);
$color2: rgba(255, 229, 217, 1);
$color3: rgba(255, 202, 212, 1);
$color4: rgba(244, 172, 183, 1);
$color5: rgba(157, 129, 137, 1);

*/


* {
  border: none;
}


.box_1 {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #F7F7F7;
  border-bottom: 1px solid #F2F0E8;
  top: 0;
}

.socialcon {
  width: 30px;
  padding: 0 10px;
}

.fa:hover {
  opacity: 0.3;
}

.box_2 {
  /*height: 600px;*/
  margin-top: 95px;
}

body {
  text-align: center;
  background-color: #F7F7F7;
  margin: 0;
}

.sewing {
  width: 40%;
}

.wool {
  width: 45px;
  padding-left: 15px;
}

h2,
p,
span a {
  color: #608684;
}

h1 {
  font-family: 'Megrim', cursive;
  font-size: 6rem;
  margin: 0;
  color: #608684;
  font-weight: 800;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  margin: 0;
}

p,
span {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
}

.K {
  font-size: 4rem;
  text-align: left;
}

.intro p {
  width: 500px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
}

.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.GetInTouch {
  padding: 150px 0;
  background-color: #9BB3B2;
}

.GetInTouch p,
.GetInTouch h2 {
  color: #F7F7F7;
  padding: 0.5rem 0;
}

footer {
  padding: 0;
}

footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

span a {
  text-decoration: none;
}

footer span {
  padding: 1rem 2rem;
}

footer p {
  font-size: 1rem;
  margin-bottom: 5px;
}

input {
  border: none;
  height: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #9BB3B2;
  font-size: 1.25rem;
  border-radius: 4px;
  text-align: center;
  width: 12rem;
  padding: 10px;
  margin: 0.5rem 0;
}

input .value {
  font-size: 1.25rem;
}

.button {
  border-radius: 4px;
  background-color: #F9DA8A;
  border: none;
  color: #B09154;
  text-align: center;
  padding: 12px;
  width: 12rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 1.25rem;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#projects {
  width: 22rem;
  margin-top: 2rem;
}

.bottom {
  padding-bottom: 1rem;
}

@media screen and (max-width: 1025px),(min-width: 471px) {
  .box_1 {
    height: 60px;
  }

  h1 {
    font-size: 8rem;
  }

  .sewing {
    width: 55%;
  }
}

@media screen and (max-width: 470px) {
  h1 {
    font-family: 'Megrim', cursive;
    font-size: 5rem;
    margin: 0;
    color: #608684;
  }

  .sewing {
    width: 90%;
  }

  .socialcon {
    width: 40px;
    padding: 0 10px;
  }

  .intro {
  width: 90%;

  }

  body {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .intro p {
    width: 100%;
  }

  .GetInTouch {
    padding: 100px 0;
    background-color: #9BB3B2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: centre;
    align-items: center;
  }

  #projects {
  width: 80%;
  }

  input {
    margin-bottom: 1rem;
  }

  footer nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  footer nav span {
    padding: 0.5rem 0;
  }

  .divider {
    display: none;
  }
}
